# LiDAR COIN-D6 (Conector USB 1-1.1)
SUBSYSTEM=="tty", KERNELS=="1-1.1", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", SYMLINK+="lidar", MODE="0666"

# Arduino Mega (Conector USB 1-1.4)
SUBSYSTEM=="tty", KERNELS=="1-1.4", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", SYMLINK+="arduino", MODE="0666"
